@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

html {
  font-family: var(--font-sans);
}

code,
pre {
  font-family: var(--font-mono);
}